/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  src: url('../fonts/Neucha/Neucha-Regular.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf');
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  position: relative;
  display: inline-block;
  min-width: 148px;
  padding: 11px 23px 12px 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  color: #FFFFFF;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FE8A02;
  box-sizing: border-box;
  transition: 0.4s;
}

.btn-header {
  margin-top: 24px;
}

.btn:hover {
  background-color: #EA7600;
}

.neucha-heading-1 {
  font-family: 'Neucha', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 89px;
}

.neucha-heading-2 {
  font-family: 'Neucha', sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 75px;
}

.neucha-heading-3 {
  font-family: 'Neucha', sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 41px;
}

.simple-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.header {
  background-color: #F5F4EF;
}

.header .container {
  padding: 100px 165px;
}

.background {
  position: relative;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  opacity: 6%;
}

.cognitive-biases-background {
  position: relative;
}

.cognitive-biases-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 1110px;
  height: 100%;
  margin: 0 auto;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  opacity: 6%;
}

.introduction {
  margin-bottom: 189px;
}

.introduction-heading {
  position: relative;
  z-index: 300;
  margin: 0;
  color: #FE8A02;
}

.introduction-heading-highlight {
  color: #2A2626;
}

.introduction-img {
  position: absolute;
  top: 55px;
  left: 463px;
  z-index: 200;
  height: 525px;
}

.introduction-info {
  position: relative;
  z-index: 300;
  display: flex;
  margin: 0 -15px;
}

.introduction-info-item {
  flex-basis: 50%;
  margin: 0 15px;
}

.introduction-info-item-text {
  margin-top: 0;
  margin-bottom: 15px;
}

.main {
  background-color: #FFFFFF;
}

.section {
  padding: 100px 165px;
}

.video-section {
  margin-bottom: -85px;
  padding-bottom: 0;
}

.video-container {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video-heading {
  margin: 0 0 26px;
  text-align: center;
  color: #2A2626;
}

.video-heading-highlight {
  color: #FE8A02;
}

.video-text {
  margin: 0 0 30px;
  text-align: center;
}

.video-container {
  width: 919px;
  height: 569px;
  margin: 0 auto;
}

.navigation-section {
  padding-top: 201px;
  background-color: #42413C;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -15px;
}

.navigation-heading {
  width: 350px;
  margin: 10px 15px;
  font-family: 'Neucha', sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  color: #FFFFFF;
  box-sizing: border-box;
}

.navigation-heading-highlight {
  color: #FE8A02;
}

.navigation-item {
  display: block;
  width: 350px;
  margin: 10px 15px;
  padding: 22px 24px;
  background-color: #F5F4F0;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.4s;
}

.navigation-item:hover {
  background-color: #FE8A02;
}

.navigation-item:hover .navigation-item-number,
.navigation-item:hover .navigation-item-heading,
.navigation-item:hover .navigation-item-text {
  color: #FFFFFF;
}

.navigation-item-number {
  display: block;
  margin-bottom: 35px;
  font-family: 'Neucha', sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 70px;
  color: #42413C;
}

.navigation-item-heading {
  margin: 0 0 14px;
  color: #FE8A02;
}

.navigation-item-text {
  margin: 0;
  color: #2A2626;
}

.cognitive-biases-sections-the-ikea-effect {}

.cognitive-biases-sections-premature-optimization {}

.cognitive-biases-sections-distortion-of-novelty {}

.cognitive-biases-sections-hyperbolic-depreciation {}

.cognitive-biases-sections-errors-in-planning {}

.cognitive-biases-light {
  background-color: #F5F4EF;
}

.cognitive-biases-dark {
  background-color: #B09A81;
}

.cognitive-biases-content {
  position: relative;
  z-index: 300;
  display: flex;
  margin: 0 -15px 100px;
}

.cognitive-biases-content-img {
  width: 578px;
  margin: 0 15px;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.cognitive-biases-content-introduction {
  margin: 0 15px;
}

.cognitive-biases-content-hint {
  font-family: 'Neucha', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.cognitive-biases-light .cognitive-biases-content-hint {
  color: #908D8B;
}

.cognitive-biases-dark .cognitive-biases-content-hint {
  color: #D7CCC0;
}

.cognitive-biases-content-heading {
  margin: 0 0 25px;
}

.cognitive-biases-light .cognitive-biases-content-heading {
  color: #2A2626;
}

.cognitive-biases-dark .cognitive-biases-content-heading {
  color: #FFFFFF;
}

.cognitive-biases-content-text {
  font-family: 'Neucha', sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 41px;
}

.cognitive-biases-light .cognitive-biases-content-text {
  color: #2A2626;
}

.cognitive-biases-dark .cognitive-biases-content-text {
  color: #FFFFFF;
}

.cognitive-biases-info-heading {
  position: relative;
  z-index: 300;
  margin: 0 0 20px;
  padding: 5px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.cognitive-biases-light .cognitive-biases-info-heading {
  color: #FFFFFF;
  background-color: #B09A81;
}

.cognitive-biases-dark .cognitive-biases-info-heading {
  color: #B09A81;
  background-color: #FFFFFF;
}

.cognitive-biases-info {
  position: relative;
  z-index: 300;
  display: flex;
  margin: 0 -15px;
}

.cognitive-biases-info-text {
  width: 50%;
  margin: 0 15px;
}

.cognitive-biases-light .cognitive-biases-info-text {
  color: #2A2626;
}

.cognitive-biases-dark .cognitive-biases-info-text {
  color: #FFFFFF;
}

.footer {
  padding: 100px 165px;
  background-color: #FFFFFF;
}

.footer .container {
  padding: 100px 165px;
}
