/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url("../fonts/Neucha/Neucha-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
}

.container {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  min-width: 148px;
  padding: 11px 23px 12px 24px;

  color: #fff;
  font-weight: 700;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;

  background-color: #fe8a02;

  transition: 0.4s;
}

.btn-header {
  margin-top: 24px;
}

.btn:hover {
  background-color: #ea7600;
}

.neucha-heading-1 {
  font-weight: 400;
  font-size: 72px;
  font-family: "Neucha", sans-serif;
  line-height: 89px;
}

.neucha-heading-2 {
  font-weight: 400;
  font-size: 60px;
  font-family: "Neucha", sans-serif;
  line-height: 72px;
}

.neucha-heading-3 {
  font-weight: 400;
  font-size: 34px;
  font-family: "Neucha", sans-serif;
  line-height: 40px;
}

.simple-text {
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
}

.footer-text {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
}

.header {
  background-color: #f5f4ef;
}

.header .container {
  padding: 100px 165px;
}

.background {
  position: relative;
}

.background::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  opacity: 6%;

  content: "";
}

.cognitive-biases-background {
  position: relative;
}

.cognitive-biases-background::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  width: 1110px;
  height: 100%;
  margin: 0 auto;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  opacity: 6%;

  content: "";
}

.introduction {
  margin-bottom: 189px;
}

.introduction-heading {
  position: relative;
  z-index: 300;

  margin: 0;

  color: #fe8a02;
}

.introduction-heading-highlight {
  color: #2a2626;
}

.introduction-img {
  position: absolute;
  top: 55px;
  left: 463px;
  z-index: 200;

  height: 525px;
}

.introduction-info {
  position: relative;
  z-index: 300;

  display: flex;
  margin: 0 -15px;
}

.introduction-info-item {
  flex-basis: 50%;
  margin: 0 15px;
}

.introduction-info-item-text {
  margin-top: 0;
  margin-bottom: 15px;
}

.main {
  background-color: #fff;
}

.section {
  padding: 100px 165px;
}

.video-section {
  margin-bottom: -93px;
  padding-bottom: 0;
}

.video-heading {
  margin: 6px 0 23px;

  color: #2a2626;
  text-align: center;
}

.video-heading-highlight {
  color: #fe8a02;
}

.video-text {
  margin: 0 0 30px;

  text-align: center;
}

.video-container {
  width: 919px;
  height: 569px;
  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.navigation-section {
  padding-top: 200px;

  background-color: #42413c;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -15px;
}

.navigation-heading {
  box-sizing: border-box;
  width: 350px;
  margin: 15px 15px 10px;

  color: #fff;
  font-weight: 400;
  font-size: 52px;
  font-family: "Neucha", sans-serif;
  line-height: 62px;
}

.navigation-heading-highlight {
  color: #fe8a02;
}

.navigation-item {
  display: block;
  box-sizing: border-box;
  width: 350px;
  margin: 10px 15px;
  padding: 26px 24px 24px;

  text-decoration: none;

  background-color: #f5f4f0;

  transition: 0.4s;
}

.navigation-item:hover {
  background-color: #fe8a02;
}

.navigation-item-number {
  display: block;
  margin-bottom: 35px;

  color: #42413c;
  font-weight: 400;
  font-size: 64px;
  font-family: "Neucha", sans-serif;
  line-height: 69px;
}

.navigation-item-heading {
  margin: 0 0 14px;

  color: #fe8a02;
}

.navigation-item-text {
  margin: 0;

  color: #2a2626;
}

.navigation-item:hover .navigation-item-number,
.navigation-item:hover .navigation-item-heading,
.navigation-item:hover .navigation-item-text {
  color: #fff;
}

.cognitive-biases-light {
  background-color: #f5f4ef;
}

.cognitive-biases-dark {
  background-color: #b09a81;
}

.cognitive-biases-content {
  position: relative;
  z-index: 300;

  display: flex;
  margin: 0 -15px 100px;
}

.cognitive-biases-content-img {
  width: 578px;
  margin: 0 15px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.cognitive-biases-content-introduction {
  margin: 0 15px;
}

.cognitive-biases-content-hint {
  font-weight: 400;
  font-size: 24px;
  font-family: "Neucha", sans-serif;
  line-height: 33px;
}

.cognitive-biases-light .cognitive-biases-content-hint {
  color: #908d8b;
}

.cognitive-biases-dark .cognitive-biases-content-hint {
  color: #d7ccc0;
}

.cognitive-biases-content-heading {
  margin: 0 0 25px;
}

.cognitive-biases-light .cognitive-biases-content-heading {
  color: #2a2626;
}

.cognitive-biases-dark .cognitive-biases-content-heading {
  color: #fff;
}

.cognitive-biases-content-text {
  margin: 0;

  font-weight: 400;
  font-size: 34px;
  font-family: "Neucha", sans-serif;
  line-height: 42px;
}

.cognitive-biases-light .cognitive-biases-content-text {
  color: #2a2626;
}

.cognitive-biases-dark .cognitive-biases-content-text {
  color: #fff;
}

.cognitive-biases-info-heading {
  position: relative;
  z-index: 300;

  margin: 0 0 20px;
  padding: 5px 10px;

  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 16px;
  text-transform: uppercase;
}

.cognitive-biases-light .cognitive-biases-info-heading {
  color: #fff;

  background-color: #b09a81;
}

.cognitive-biases-dark .cognitive-biases-info-heading {
  color: #b09a81;

  background-color: #fff;
}

.cognitive-biases-info {
  position: relative;
  z-index: 300;

  display: flex;
  margin: 0 -15px;
}

.cognitive-biases-info-text {
  width: 50%;
  margin: 0 15px;
}

.cognitive-biases-light .cognitive-biases-info-text {
  color: #2a2626;
}

.cognitive-biases-dark .cognitive-biases-info-text {
  color: #fff;
}

.footer {
  background-color: #fff;
}

.footer .container {
  padding: 100px 165px;
}

.footer-subscription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 76px;
  padding: 38px 55px 42px;

  background-color: #42413c;
}

.footer-subscription-heading {
  margin: 13px 0 0;

  color: #fff;
}

.footer-subscription-email-label {
  display: block;
  margin-bottom: 8px;

  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 29px;
}

.footer-subscription-email {
  position: relative;

  margin-bottom: 4px;
}

.footer-subscription-email-input {
  box-sizing: border-box;
  width: 485px;
  height: 50px;
  padding: 17px 77px 18px 15px;
  border: none;

  color: #000;
  font-weight: 400;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  line-height: 21px;
}

.footer-subscription-email-input::placeholder {
  color: #757575;
}

.footer-subscription-email-input:focus,
.footer-subscription-email-input:focus-visible {
  outline: none;
}

.footer-subscription-email-btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 62px;
  height: 50px;
  padding: 0;
  border: none;

  font-size: 0;

  background-color: #fe8a02;

  cursor: pointer;

  transition: 0.4s;
}

.footer-subscription-email-btn:hover {
  background-color: #ea7600;
}

.footer-subscription-email-btn::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
  width: 24px;
  height: 24px;
  margin: auto;

  background-image: url("../images/send.svg");
  background-size: contain;

  content: "";
}

.footer-subscription-conditions {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 19px;
}

.footer-subscription-conditions-link {
  color: #fff;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-info-copyright {
  margin-bottom: 17px;
}

.footer-info-source {
  margin-bottom: 17px;
}

.footer-info-source-link {
  color: #1085c5;
  text-decoration: underline;
}

.footer-info-link {
  color: #1085c5;
  text-decoration: underline;
}

/* Для тестов */
.cognitive-biases-sections-premature-optimization .container:last-child {
  position: relative;
  z-index: 300;
}

.cognitive-biases-sections-premature-optimization .container:last-child h2 {
  margin-top: 36px;
  margin-bottom: 10px;

  color: #fe8a02;
  font-weight: 400;
  font-size: 60px;
  font-family: "Neucha", sans-serif;
  line-height: 72px;
}

.cognitive-biases-sections-premature-optimization .container:last-child ul {
  margin-top: 0;
}

.cognitive-biases-sections-premature-optimization .container:last-child li {
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
}

.cognitive-biases-sections-premature-optimization .container:last-child p {
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
}
